{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'banner.html' %}

 <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                {% for publication in publications %}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      {% if publication.image %}
                      <img src="{{ publication.image.url }}" alt="">
                      {% endif %}
                    </div>
                    <div class="down-content">
                      <span>{{ publication.category.name }}</span>
                      <a href="post-details.html"><h4>{{ publication.name }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ publication.author.full_name }}</a></li>
                        <li><a href="#">{{ publication.created|date:"F d, Y" }}</a></li>
                        <li><a href="#">0 Comments</a></li>
                      </ul>
                      <p>{{ publication.text|slice:":500" }}...</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% for tag in publication.tags.all %}
                              <li><a href="#">{{ tag.name }}</a>,</li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="blog.html">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include 'sidebar.html' %}
          </div>
        </div>
    </section>
{% endblock %}